{% extends 'base.html' %}

{% block body %}

<h1>Lista de Estudiantes</h1>

<a href="{% url 'estudiante_nuevo' %}">Crear nuevo estudiante</a>

<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Correo</th>
            <th>Fecha ingreso</th>
            <th>Carrera</th>
        </tr>
    </thead>
    <tbody>
        {% for e in estudiantes %}
        <tr>
            <td>{{ e.nombre }}</td>
            <td>{{ e.apellido }}</td>
            <td>{{ e.edad }}</td>
            <td>{{ e.correo }}</td>
            <td>{{ e.fecha_ingreso }}</td>
            <td>{{ e.carrera.nombre }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
